.App{
    background: linear-gradient(30deg, rgb(31, 15, 253)5%, rgb(14, 124, 250), rgb(255, 95, 247), rgb(255, 31, 135));
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

